venv/
__pycache__/
*.pyc
.DS_Store
.env
*.egg-info/
.ipynb_checkpoints/
layer0/data/
layer0/out/
layer1/data/
layer1/out/
layer2/data/
layer2/out/
layer3/data/
layer3/out/
layer4/data/
layer4/out/
data/*.parquet
